<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DBName" value="GD1C2015" />
		<add key="DBServer" value="localhost\SQLSERVER2008" />
		<add key="DBUser" value="gd" />
		<add key="DBPassword" value="gd2015" />
		<add key="FechaSistema" value="01-01-2017" />
	</appSettings>
</configuration>
